$primary: #3c70ff;
$sm: "767px";
$md: "992px";

* {
  margin: 0;
  padding: 0;
}

#installBtn {
  display: none;
  background-color: #282c34;
  color: white;
}
body {
  min-height: 90vh;
}

// NAVBAR
nav {
  display: flex;
  justify-content: space-evenly;
  background-color: $primary;
  height: auto;
  padding: 1rem 0.25rem;
  a {
    text-decoration: none;
    color: white;
    margin: 0 0.75rem;
    &.activeLink {
      text-decoration: underline;
    }
  }
}

.container {
  width: 100%;
}

.contentContainer {
  height: 100vh;
  @media screen and (min-width: $md) {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    > section,
    > div,
    > nav {
      scroll-snap-align: center;
    }
  }
}

.card {
  box-shadow: 15px 15px 20px 20px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.5);
}
