.tips {
  height: 100%;
  padding: 0.5rem 2.5%;
  color: white;
  background-color: #3c70ff;
  article {
    margin: 0.5rem 0;
    padding: 0.5rem 1rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 0.5rem;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    color: black;
    pre {
      background-color: darkgray;
    }
  }
}
