// BANNER
section.banner {
display: flex;
flex-direction: row;
align-items: center;
padding: 2rem;
picture {
    width: 35%;
    height: 100%;
    img {
    width: 100%;
    }
}
span.bannerInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 65%;
}
@media (max-width: 800px) {
    flex-direction: column;
    picture {
    width: 100%;
    margin-bottom: 2rem;
    }
}
}

// TECH
section.tech {
    padding: 2rem 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #2962FF;
    h2 {
        text-align: center;
        margin: 0 0 1rem 0;
        width: 100%;
        color: white;
    }
    div {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        article {
            display: grid;
            grid-template-rows: 25% 75%;
            width: 30%;
            padding-bottom: 1rem;
            box-shadow: 10px 10px 20px rgba(0,0,0,.1);
            background-color: white;
            border-radius: 0.5rem;
            text-align: center;
            h3 {
                margin-top: 0.5rem;
            }
            ul { 
                list-style: none;
                li {
                    display: inline-block;
                    width: 50%;
                    margin: 0.25rem 0;
                } 
            }
        }
    } 
    @media(max-width: 800px) {
        flex-direction: column;
        h2 {
            margin-bottom: 0;
        }
        div {
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            article {
                width: 90%;
                margin: 1rem 0;
                ul {
                    li {
                        display: inline-block;
                        width: 50%;
                        margin: 0.25rem 0;
                    }
                }
                h3 {
                    margin-top: 0.5rem;
                }
                &:last-child {
                    margin: 0 0 1.5rem 0;
                }
            } 
        }
    }
}

// EXPERIENCE
section.experience {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F2C14E;
    h2 {
        margin-bottom: 1rem;
        color: white;
    }
    .experienceItems {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .experienceItem {
        display: grid;
        grid-template-rows: 10% 90%;
        width: 30%;
        text-align: center;
        box-shadow: 10px 10px 20px rgba(0,0,0,.1);
        background-color: white;
        border-radius: 0.5rem;
        p {
            margin: 1rem 2rem;
            text-align: left;
        }
        h3 {
            margin-top: 0.5rem;
        }
    }
    @media(max-width: 1100px) and (min-width:767px) {
        .experienceItems {
            flex-direction: column;
        }
        .experienceItem {
            grid-template-rows: 15% 85%;
            width: 90%;
            margin-left: 5%;
            margin-bottom: 1rem;
            height: 20vh;
            p {
                margin: 1rem 1rem;
            }
        }
    }
    @media(max-width: 767px) {
        .experienceItems {
            flex-direction: column;
        }
        .experienceItem {
            width: 90%;
            margin-left: 5%;
            margin-bottom: 1rem;
            height: 30vh;
            p {
                margin: 1rem 1rem;
            }
        }
    }
    @media(max-width: 350px) {
        .experienceItem {
            height: auto;
        }
    }
}

// ABOUT
section.about {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem 0;
    background-color: #FF5964;
    h2 {
        text-align: center;
        margin-bottom: 1rem;
        color: white;
        width: 100%;
    }
    .background {
        box-shadow: 10px 10px 20px rgba(0,0,0,.1);
        background-color: white;
        border-radius: 0.5rem;
        padding: 1rem;
        width: 92.5%;
        h3 {
            margin-bottom: 1rem;
        }
        @media(max-width: 800px) {
            width: 82.5%;
            h3 {
                text-align: center;
            }
        }
    }
    .hobbies {
        box-shadow: 10px 10px 20px rgba(0,0,0,.1);
        background-color: white;
        border-radius: 0.5rem;
        margin-top: 1rem;
        padding: 1rem;
        width: 92.5%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        h3 {
            width: 100%;
            margin-bottom: 1rem;
        }
        .slide {
            width: 90%;
            display: flex;
            flex-direction: row;
            margin-bottom: 0.5rem;
            img {
                width: 10rem;
                height: 10rem;
                object-fit: cover;
            }
            span {
                margin: 1rem;
                height: auto;
                h4 {
                margin-bottom: 0.5rem;
                }
                p {
                margin-left: 0;
                }
            }
        }
        .slide:nth-child(even)  {
            picture{
              order: 1;
            }
            span {
              margin-left: 0;
            }
        }
        .slide:nth-child(odd)  {
            span {
              margin-right: 0;
            }
        }
        @media(max-width: 767px) {
            flex-direction: column;
            align-items: center;
            width: 82.5%;
            h3 {
                text-align: center;
            }
            .slide {
                flex-direction: column;
                width: 90%; 
                border: none;
                img {
                    width: 100%;
                    height: 15rem;
                }
                h4 {
                    text-align: center;
                }
            }
            .slide:nth-child(even), .slide:nth-child(odd)  {
                picture{
                  order: 0;
                }
                span {
                    margin: 1rem 0;
                }
            }
        }
        @media(max-width: 1000px) and (min-width:767px) {
            width: 82.5%;
            .slide {
                img {
                    height: 13rem;
                    width: 13rem;
                }
                span {
                    margin-top: 0;
                }
            }
        }
    }
}