// BANNER
section.banner {
    display: grid; 
    grid-template-columns: 50% 5% 45%;
    grid-template-rows: 25% 25% 25% 25%;
    background-image: url('../images/Hero_2000w.webp');
    background-size: cover;
    background-position: center;
    height: 80vh;
    span.bannerInfo {
        grid-column: 3;
        grid-row: 2;
        color: white;
        font-size:2.5rem;
    }
    @media (max-width: 1250px) {
        span.bannerInfo {
            font-size: 2rem;
        }
    }
    @media (max-width: 1050px) {
        span.bannerInfo {
            font-size: 1.5rem;
        }
        height: 50vh;
        background-position-x: 40%;
    }
    @media (max-width:767px) {
        left: 40%;
        background-position: center;
        background-image: url('../images/banner_2000w.jpeg');
        display: flex;
        justify-content: flex-start;
        span.bannerInfo {
            width: 100%;
            font-size: 0.75rem;
            margin-left: 0.75rem;
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: 10% 10% 80%;
            h1 {
                margin-top: 0.5rem;
            }
            p.email {
                margin-top: 0.5rem;
                grid-area: 1 / 2 / 3 / 2;
                text-align: right;
                margin-right: 0.75rem;
            }
            p.occupation{
                grid-column: 1;
                grid-row: 2;
                margin-top: 0;
            }
        }
    }
}

// TECH
section.tech {
    padding: 2rem 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #5FAD56;
    h2 {
        text-align: center;
        margin: 0 0 1rem 0;
        width: 100%;
        color: white;
    }
    div {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
        article {
            width: 30%;
            padding-bottom: 1rem;
            box-shadow: 10px 10px 20px rgba(0,0,0,.1);
            background-color: white;
            border-radius: 0.5rem;
            text-align: center;
            h3 {
                margin-top: 0.5rem;
            }
            ul { 
                list-style: none;
                li {
                    display: inline-block;
                    width: 50%;
                    margin: 0.25rem 0;
                } 
            }
        }
    } 
    @media(max-width: 800px) {
        flex-direction: column;
        h2 {
            margin-bottom: 0;
        }
        div {
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            article {
                width: 90%;
                margin: 1rem 0;
                ul {
                    li {
                        display: inline-block;
                        width: 50%;
                        margin: 0.25rem 0;
                    }
                }
                h3 {
                    margin-top: 0.5rem;
                }
                &:last-child {
                    margin: 0 0 1.5rem 0;
                }
            } 
        }
    }
}

// EXPERIENCE
section.experience {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F2C14E;
    h2 {
        margin-bottom: 1rem;
        color: white;
    }
    .experienceItems {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .experienceItem {
        // display: grid;
        // grid-template-rows: 10% 90%;
        width: 30%;
        text-align: center;
        box-shadow: 10px 10px 20px rgba(0,0,0,.1);
        background-color: white;
        border-radius: 0.5rem;
        p {
            margin: 1rem 2rem;
            text-align: left;
        }
        h3 {
            margin-top: 0.5rem;
        }
    }
    @media(max-width: 1100px) and (min-width:767px) {
        .experienceItems {
            flex-direction: column;
        }
        .experienceItem {
            grid-template-rows: 15% 85%;
            width: 90%;
            margin-left: 5%;
            margin-bottom: 1rem;
            height: 20vh;
            p {
                margin: 1rem 1rem;
            }
        }
    }
    @media(max-width: 767px) {
        .experienceItems {
            flex-direction: column;
        }
        .experienceItem {
            width: 90%;
            margin-left: 5%;
            margin-bottom: 1rem;
            height: 30vh;
            p {
                margin: 1rem 1rem;
            }
        }
    }
    @media(max-width: 350px) {
        .experienceItem {
            height: auto;
        }
    }
}

// ABOUT
section.about {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem 0;
    background-color: #FF5964;
    h2 {
        text-align: center;
        margin-bottom: 1rem;
        color: white;
        width: 100%;
    }
    .background {
        box-shadow: 10px 10px 20px rgba(0,0,0,.1);
        background-color: white;
        border-radius: 0.5rem;
        padding: 1rem;
        width: 92.5%;
        h3 {
            margin-bottom: 0.5rem;
        }
        @media(max-width: 800px) {
            width: 82.5%;
            h3 {
                text-align: center;
            }
        }
    }
    .hobbies {
        box-shadow: 10px 10px 20px rgba(0,0,0,.1);
        background-color: white;
        border-radius: 0.5rem;
        margin-top: 1rem;
        padding: 1rem;
        width: 92.5%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        h3 {
            width: 100%;
            margin-bottom: 1rem;
        }
        .slide {
            width: 90%;
            display: flex;
            flex-direction: row;
            margin-bottom: 0.5rem;
            img {
                width: 10rem;
                height: 10rem;
                object-fit: cover;
            }
            span {
                margin: 1rem;
                height: auto;
                h4 {
                margin-bottom: 0.5rem;
                }
                p {
                margin-left: 0;
                }
            }
        }
        .slide:nth-child(even)  {
            picture{
              order: 1;
            }
            span {
              margin-left: 0;
            }
        }
        .slide:nth-child(odd)  {
            span {
              margin-right: 0;
            }
        }
        @media(max-width: 767px) {
            flex-direction: column;
            align-items: center;
            width: 82.5%;
            h3 {
                text-align: center;
            }
            .slide {
                flex-direction: column;
                width: 90%; 
                border: none;
                img {
                    width: 100%;
                    height: 15rem;
                }
                h4 {
                    text-align: center;
                }
            }
            .slide:nth-child(even), .slide:nth-child(odd)  {
                picture{
                  order: 0;
                }
                span {
                    margin: 1rem 0;
                }
            }
        }
        @media(max-width: 1000px) and (min-width:767px) {
            width: 82.5%;
            .slide {
                img {
                    height: 13rem;
                    width: 13rem;
                }
                span {
                    margin-top: 0;
                }
            } 
        }
    }
}

@media screen and (orientation:landscape) {
  section.banner {
    min-height: 100vh;
  }
  section.experience div.experienceItem {
    height: auto;
  }
}