$primary: #2962FF;

* { margin: 0; padding: 0;}

#installBtn {
  display: none;
  background-color: #282c34;
  color: white;
}
// HEADER
header {
  height: 3.5rem;
  background-color: $primary;
  picture {
    display: none;
    margin-left: 0.75rem;
    padding-top: 0.75rem;
    @media (max-width: 800px) {
      display: block;
    }
  }
}

// NAVBAR
nav {
  display: flex;
  justify-content: space-evenly;
  height: 3rem;
  a {
    margin-top: 1rem;
    text-decoration: none;
    color: black;
    &.activeLink {
      text-decoration: underline;
      color: $primary;
    }
  }
  @media (max-width: 800px) {
    display: none;
    justify-content: flex-start;
    flex-direction: column;
    height: 100vh;
    width: 65%;
    position: fixed;
    background-color: white;
    a {
      width: 90%;
      padding-left: 10%;
    }
  }
}

.container {
  width: 100%;
}

.coolCode p{
  padding: 2rem;
}